<p id="notice"><%= notice %></p>
<div class="card-columns">
  <% @posts.each do |post| %>
    <div class="card text-left text-dark bg-white">
      <h5 class="card-header"><%= post.title %></h5>
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted"><%= post.text %></h6>
          <p class="card-text"><%= post.description %></p>
            <% if user_signed_in? %>
                <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-light' %></button>
                <%= link_to 'Edit', edit_post_path(post),class: 'btn btn-light' %></button>
                <%= link_to 'Show', post,class: 'btn btn-light' %></button>
            <% else %>
              <%= link_to 'Show', post,class: 'btn btn-light' %></button>
            <% end %>
        </div>
          <div class="card-footer text-muted">
            User: <%= post.user %>
          </div>
    </div>
  <% end %>
</div>
<br>
