<% @posts.each do |post| %>
  <div class="card text-left mb-3">
    <h1 class="card-header ", style="font-size: 18px"><%= post.title %></h1>
    <div class="card-body">
      <h2 class="card-subtitle ", style="font-size: 16px"><%= post.description %></h2>

      <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-light'%>
      <%= link_to 'Edit', edit_post_path(post),class: 'btn btn-light' %>
      <%= link_to 'Show', post,class: 'btn btn-light' %>
    </div>
    <div class="card-footer">
      <%= link_to 'Author profile', profile_path(post.user) %> Created: <%= post.created_at %>
    </div>
  </div>
<% end %>
