<p id="notice"><%= notice %></p>

<div class="card text-left mb-2">
  <h1 class="card-header ", style="font-size: 18px"><%= @post.title %></h1>
  <div class="card-body">
    <h2 class="card-subtitle ", style="font-size: 16px"><%= @post.description %></h2>
    <p class="card-text"><%= markdown(@post.text) %></p>
  </div>
  <div class="card-footer">
    User: <%= @post.user.email %> Created: <%= @post.created_at %>
  </div>
</div>

  <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-light' %>

  <%= link_to 'Back', post_path, class: 'btn btn-light' %>
